rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
      
      match /uploads/{fileId} {
      	allow write: if request.resource.contentType.matches('image/.*');
      }

      match /messages/{messageId} {
      	allow read: if true
      }
    }
  }
}
